{% extends 'base.html' %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="font-weight-bold h2">Donation page</div>
        <a href="https://www.paypal.com">
            <img src="https://www.paypalobjects.com/webstatic/icon/pp258.png" alt="PayPal Image" height="150px" width="150px">
        </a>
        <p class="text-gray-650 mb-0">Your help will help us maintain this service longer and make it better</p>
        <a href="{{ url_for('index') }}">&larr; Back to Dashboard</a>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}