{% extends 'base.html' %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="text-center">
        <div class="font-weight-bold h2">Help us make DragonTools better</div>
        <a href="https://www.paypal.com">
            <img src="https://www.paypalobjects.com/webstatic/icon/pp258.png" alt="PayPal Image" height="150px" width="150px">
            <h3>Donate to DragonTools</h3>
        </a>
        <p class="text-gray-650 mb-0">
            Just a small donation will go a long way for the maintenance and
            improvement of DragonTools
        </p>
        <a href="{{ url_for('index') }}">&larr; Back to Dashboard</a>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}