{% extends 'base.html' %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">General</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-12 mb-4">
            {% if session['userfile'] is not defined %}
                {% include 'components/whoopsie.html' %}
            {% else %}
            <!-- Color System -->
                <div class="row">
                    <div class="col-lg-12 mb-4">
                        <div class="card bg-dark text-white shadow">
                            <div class="card-header font-weight-bold bg-primary">
                                File
                            </div>
                            <div class="card-body">
                                <div class="text-white-75 text-monospace">{{ file }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-4">
                        <div class="card bg-dark text-white shadow">
                            <div class="card-header font-weight-bold bg-primary">
                                Exiftool
                            </div>
                            <div class="card-body">
                                {% for exif in exiftool %}
                                    <div class="text-white-75 text-monospace">{{ exif }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-4">
                        <div class="card bg-dark text-white shadow">
                            <div class="card-header font-weight-bold bg-primary">
                                Binwalk
                            </div>
                            <div class="card-body">
                                {% for b in binwalk %}
                                    <div class="text-white-75 text-monospace">{{ b }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-4">
                        <div class="card bg-dark text-white shadow">
                            <div class="card-header font-weight-bold bg-primary">
                                Foremost
                            </div>
                            <div class="card-body">
                                {% for foremost in foremost %}
                                    <div class="text-white-75 text-monospace">{{ foremost }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% if virustotal|length > 1 %}
                    <div class="col-lg-12 mb-4">
                        <div class="card bg-dark text-white shadow">
                            <div class="card-header font-weight-bold bg-danger">
                                Virustotal
                            </div>
                            <div class="card-body">
                                <div class="text-white-75 text-monospace">{{ virustotal[0] }} positives out of {{ virustotal[1] }} total sources</div>
                                {% for result in virustotal[3] %}
                                <div class="text-white-75 text-monospace">{{ result[0] }} that says it's: {{ result[1] }}</div>
                                {% endfor %}
                                <div class="text-white-75 text-monospace">Check straight from virustotal:
                                    <a href="{{ virustotal[2] }}" class="text-white">click here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-lg-12 mb-4">
                        <div class="card bg-dark text-white shadow">
                            <div class="card-header font-weight-bold bg-primary">
                                Virustotal
                            </div>
                            <div class="card-body">
                                <div class="text-white-75 text-monospace">Virustotal didn't find anything suspicious with this file</div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-lg-12 mb-4">
                        <div class="card bg-dark text-white shadow">
                            <div class="card-header font-weight-bold bg-primary">
                                HashSum
                            </div>
                            <div class="card-body">
                                {% for hash in hashsum %}
                                    <div class="text-white-75 text-monospace">{{ hash[0] }} : {{ hash[1] }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-4">
                        <div class="card bg-dark text-white shadow">
                            <div class="card-header font-weight-bold bg-primary">
                                Strings
                            </div>
                            <div class="card-body pre-scrollable">
                                {% for str in strings %}
                                    <div class="text-white-75 text-monospace">{{ str }}</div>
                                {% endfor %}
                            </div>
                            <div class="card-footer bg-primary">
                                Search with ctrl+f
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-4">
                        <div class="card bg-dark text-white shadow">
                            <div class="card-header font-weight-bold bg-primary">
                                XXD
                            </div>
                            <div class="card-body pre-scrollable">
                                {% for xxd in xxd %}
                                    <div class="text-white-75 text-monospace">{{ xxd }}</div>
                                {% endfor %}
                            </div>
                            <div class="card-footer bg-primary">
                                Search with ctrl+f
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
