{% extends 'base.html' %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Welcome</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Content Column -->
        <div class="col-lg-12 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">What is DragonTools?</h6>
                </div>
                <div class="card-body">
                    DragonTools is a qweqweqwe
                </div>
            </div>
            <!-- Color System -->
            <div class="col-lg-12 mb-4">
                <div class="card bg-success text-white shadow">
                    <div class="card-body">
                        {% if session['userfile'] %}
                        <p>Your recently uploaded file name is "{{ session['userfile'] }}"</p>
                        <img src="{{ url_for('uploads', filename=session['userfile']) }}"
                            style="max-width: 100%; margin-bottom: 1em;">
                        <br>
                        <div class="text-white-75 small">
                            You can now start analyzing your files with the menu
                            on your left, or you can upload a new file
                        </div>
                        <p></p>
                        <p>Upload a new file</p>
                        {% else %}
                        <p>Upload a file</p>
                        {% endif %}
                        <div class="text-white-75 small">
                            <form method="POST" enctype="multipart/form-data">
                                <input type="file" name="file">
                                <input type="submit" value="Upload">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}