{% extends 'base.html' %} {% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Welcome</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Content Column -->
        <div class="col-lg-12 mb-4">
            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">What is DragonTools?</h6>
                </div>
                <div class="card-body">
                    DragonTools is a qweqweqwe
                </div>
            </div>
            <!-- Color System -->
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div class="card bg-success text-white shadow">
                                <div class="card-body">
                                    File
                                    <div class="text-white-75 small">{{ file }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-4">
                            <div class="card bg-info text-white shadow">
                                <div class="card-body">
                                    HashSum {% for hash in hashsum %}
                                    <!-- <div class="text-white-50 small">{{ hash[0] }}</div> -->
                                    <div class="text-white-75 small">{{ hash[0] }} : {{ hash[1] }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-4">
                            <div class="card bg-primary text-white shadow">
                                <div class="card-body">
                                    Exiftool {% for exif in exiftool %}
                                    <div class="text-white-75 small">{{ exif }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-4">
                            <div class="card bg-primary text-white shadow">
                                <div class="card-body">
                                    Binwalk {% for b in binwalk %}
                                    <div class="text-white-75 small">{{ b }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-4">
                            <div class="card bg-primary text-white shadow">
                                <div class="card-body">
                                    Foremost
                                    <div class="text-white-75 small">{{ foremost }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-warning text-white shadow">
                                <div class="card-body">
                                    Strings
                                    <div class="text-white-50 small">{{ strings }}</div>
                                </div>
                            </div>
                        </div>
                        {% if virustotal[0] > 0 %}
                        <div class="col-lg-12 mb-4">
                            <div class="card bg-danger text-white shadow">
                                <div class="card-body">
                                    Virustotal
                                    <div class="text-white-75 small">{{ virustotal[0] }} positives out of {{ virustotal[1] }} total sources</div>
                                    <div class="text-white-75 small">Sources that says positives: {{ virustotal[3] }}</div>
                                    <div class="text-white-75 small">Check straight from virustotal: <a href="{{ virustotal[2] }}">click here</a></div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-lg-12 mb-4">
                            <div class="card bg-success text-white shadow">
                                <div class="card-body">
                                    Virustotal
                                    <div class="text-white-75 small">Virustotal didn't find anything suspicious with this file</div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-secondary text-white shadow">
                                <div class="card-body">
                                    Secondary
                                    <div class="text-white-50 small">#858796</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-light text-black shadow">
                                <div class="card-body">
                                    Light
                                    <div class="text-black-50 small">#f8f9fc</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-dark text-white shadow">
                                <div class="card-body">
                                    Dark
                                    <div class="text-white-50 small">#5a5c69</div>
                                </div>
                            </div>
            <div class="col-lg-12 mb-4">
                <div class="card bg-success text-white shadow">
                    <div class="card-body">
                        {% if session['userfile'] %}
                        <p>Your recently uploaded file name is "{{ session['userfile'] }}"</p>
                        <img src="{{ url_for('uploads', filename=session['userfile']) }}"
                            style="max-width: 100%; margin-bottom: 1em;"
                            alt="No preview available.">
                        <br>
                        <div class="text-white-75">
                            You can now start analyzing your files with the menu
                            on your left, or you can upload a new file
                        </div>
                        <p></p>
                        <p>Upload a new file</p>
                        {% else %}
                        <p>Upload a file</p>
                        {% endif %}
                        <div class="text-white-75">
                            <form method="POST" enctype="multipart/form-data">
                                <input type="file" name="file">
                                <input type="submit" value="Upload">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}